body{

    font-family: -apple-ssytem, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial;
    background-color: #282828;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;

}

.container{

    background-color: #141414;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    max-width: 600px;
    width: 90%;
    color: white;

}

h1{

    margin-top: 0;

}

video{

    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 8px;
    background-color: #222;
    transform: scaleX(-1);
    border: 2px solid #fff;

}

button{

    display: block;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    background-color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 1rem;
    transition: 0.2s ease-in-out;

}

button:disabled{

    background-color: #aaa;
    cursor: not-allowed;

}

button:hover:not(:disabled){

    transform: translateY(-3px);

}

.results-box{

    text-align: left;
    margin-top: 1.5rem;
    background-color: #282828;
    border: 1px solid #464646;
    border-radius: 8px;
    padding: 1rem;
    
}

h3{

    margin-top: 0;
    border-bottom: 1px solid white;
    padding-bottom: 0.5rem;

}

pre{

    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: "Courier New", Courier, monospace;
    font-size: 0.9 rem;
    color: white;

}